@charset "UTF-8";

/* 
    Typical Device Breakpoints
    Pequenas telas: até 480px
    Celular: de 481px até 600px
    Tablet: de 601px até 1024px
    Descktop: de 1025px até 1440px
    Grandes telas: acima de 1441px

*/
            /* MEDIA QUERY P/ TABELET */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    
    body{
        background-image: linear-gradient(to top , #49a09d , #5f2c82);
        /* IMAGEM DE FUNDO / ESTILO DEGRADÊ > DE BAIXO P/ CIMA > CORES */
    }
    
    section#login { /* SEÇÃO P/ TELA DE LOGIN */
        width: 80vw; /* LARGURA DA JANELA DE VISUALIZAÇÃO */
        height: 300px; /* ALTURA DA JANELA DE VISUALIZAÇÃO */
    }

    section#login > div#imagem { /* CONTEUDO IMAGEM QUE ESTA DENTRO DA SEÇÃO LOGIN */
        float: left; /* FLUTUAR PARA A ESQUERDA */
        width: 30%; /* LARGURA DA IMAGEM */
        height: 100%; /* ALTURA DA IMAGEM */
    }

    section#login > div#formulario { /* CONTEÚDO FORMULÁRIO DENTRO DA SEÇÃO LOGIN */
        float: right; /* FLUTUAR PARA A DIREITA */
        width: 70%; /* LARGURA DO FORMULÁRIO */
    }
}

        /* MEDIA QUERY P/ DESCKTOP E TELAS GRANDES */
@media screen and (min-width: 1024px) {
    
    body{
        background-image: linear-gradient(to top , #49a09d , #5f2c82);
        /* IMAGEM DE FUNDO / ESTILO DEGRADÊ > DE BAIXO P/ CIMA > CORES */
    }
    
    section#login { /* SEÇÃO P/ TELA DE LOGIN */
        width: 1020px; /* LARGURA DA JANELA DE VISUALIZAÇÃO */
        height: 350px; /* ALTURA DA JANELA DE VISUALIZAÇÃO */
    }

    section#login > div#imagem { /* CONTEUDO IMAGEM QUE ESTA DENTRO DA SEÇÃO LOGIN */
        float: right; /* FLUTUAR PARA A DIREITA */
        width: 50%; /* LARGURA DA IMAGEM */
        height: 100%; /* ALTURA DA IMAGEM */
    }

    section#login > div#formulario { /* CONTEÚDO FORMULÁRIO DENTRO DA SEÇÃO LOGIN */
        float: left; /* FLUTUAR P/ ESQUERDA */
        width: 50%; /* LARGURA DO FORMULÁRIO ( METADE ) */ 
    }

    div#formulario > h1 { /* TITULO DO FORMULÁRIO */
        font-size: 2em;
    }

    div#formulario > p { /* PARAGRÁFO DO FORMULÁRIO */
        font-size: 1.1em;
        margin: 20px 0px;
    }
}